<!DOCTYPE html>

<html lang='en'>

  <head>
    <meta charset="utf-8">
    <title>Jason Kim - Software Engineer in Seattle</title>
    <meta name='keywords' content='jason kim seattle software engineer'>
    <meta name='description' content='Jason Kim is a software engineer in Seattle, WA.'>
    <meta name='author' content='Jason Kim'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' type='text/css' media='screen' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css' />
    <link rel='stylesheet' type='text/css' href='<%= require('file-loader!../bower_components/gapless5/gapless5.css') %>' />

    <style>

      body {
        background-size: cover !important;
      }

      .content {
        width: 60%;
        background: white;
        border: 1px solid #d3d3d3;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 30px;
        transform: translate(-50%, -50%);
        opacity: 0.85;

        flex-wrap: wrap;
      }

      .giphy-attribution {
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .item {
        flex: 1;
      }

      @media (min-width: 768px) {
        .content {
          display: flex;
          width: 470px;
        }
      }

      @media (min-width: 992px) {
        .content {
          display: flex;
          width: 600px;
        }
      }

    </style>

    <link rel='shortcut icon' href='<%= require('file-loader!public/images/favicon.ico') %>'/>

  </head>
  <body>


    <div class='content'>
      <div class='item'>
        <h1>Jason Kim</h1>
        <p>
          me@jasonkim.ca
        </p>
        <p>
          I am a software engineer working for Napster in Seattle, WA.
        </p>
      </div>
      <div class='item'>
        <ul>
          <li><a href='https://github.com/serv'>Github</a></li>
          <li><a href='https://www.linkedin.com/in/jason-kim-a2b97b6/'>LinkedIn</a></li>
          <li><a href='http://blog.jasonkim.ca/'>Blog</a></li>
          <li>
            Twitter: <a href='https://twitter.com/jasoki'>@jasoki</a>
          </li>
          <li>
            Projects
            <ul>
              <li><a href='http://jasonkim.ca/projects/just_enough_ruby_to_get_by/'>Book: Just Enough Ruby to Get By</a></li>
              <li><a href='https://github.com/Napster/napster-ruby'>Napster Gem</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class='item'>
        <div id="gapless5-block"></div>
        <p>Click play!</p>
      </div>
    </div>

    <div class='giphy-attribution'>
      <img src='<%= require('file-loader!public/images/PoweredBy_200px-Black_HorizText.png') %>' >
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-28018879-8', 'auto');
      ga('send', 'pageview');
   </script>
  </body>
</html>

